<div class="center hero-unit">
  <h1>Welcome to the Music Site</h1>
  <p>
    This is the home page of the Music Site.
  </p>

  <%= link_to "Sign up now!", new_user_registration_path , class: "btn btn-large btn-primary" %>
</div>